{% extends "base.html" %}
{% block title %} News Information Extraciton {% endblock title %}

{% block nav_index_home %} class="nav-link active btn-primary" {% endblock nav_index_home%}

{% block content %}


<div class="dropdown">
  <button class="dropbtn">Select year</button>

</div>
<div id="containerChart">
</div>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5% 5%;
    text-align: center;
    margin-left: 15%;
}
table{
  width: 40%;
}


    .axis path,
    .axis line
    {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

.dropbtn {
    background-color: #f1f1f1
    color: white;
    padding: 5% 5%;
    font-size: 16px;
    border: none;
    margin-left: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 50%;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}
</style>

<script>
var data = {{ personal_detail|safe }};

var number = {{ totalno.total }};
//Setting up of our svg with proper calculations
var svg = d3.select("body")
    .append("svg").attr("width", number*20+600).attr("height", 400);
var margin = {
    top: 40,
    right: 20,
    bottom: 40,
    left: 150
};
var width = svg.attr("width") - margin.left - margin.right;
var height = svg.attr("height") - margin.top - margin.bottom;

//Plotting our base area in svg in which chart will be shown
var g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

//X and Y scaling
var x = d3.scaleBand().rangeRound([0, width]).padding(0.4);
var y = d3.scaleLinear().rangeRound([height, 0]);

x.domain(data.map(function(d) {
    return d.Location;
}));
y.domain([0, d3.max(data, function(d) {
    return +d.total;
})]);

//Final Plotting

//for x axis
g.append("g")
    .call(d3.axisBottom(x))
    .attr("transform", "translate(0," + height + ")");

//for y axis
g.append("g")
    .call(d3.axisLeft(y))
    .append("text").attr("transform", "rotate(-90)").attr("text-anchor", "end");

//for rectangles
g.selectAll(".bar")
    .data(data)
    .enter()
    .append("rect")
    .attr("class", "bar")
    .attr("fill","blue")
    .attr("x", function(d) {
        return x(d.Location);
    })
    .attr("y", function(d) {
        return y(d.total);
    })
    .attr("width", x.bandwidth())
    .attr("height", function(d) {
        return height - y(d.total);
    });

g.selectAll(".text")
    .data(data)
    .enter()
    .append("text")
    .attr("dy", ".75em")
    .attr("y", function(d) {
        return y(d.total) - 16;
    })
    .attr("x", function(d) {
        return x(d.Location) + x.bandwidth() / 2;
    })
    .attr("text-anchor", "middle")
    .text(function(d) {
        return d.total;
    });
</script>
{{ alldata }}
{% endblock content %}
