{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Map of Proposed Nepalese Federal States</title>
    <script type="text/javascript"  src="{% static 'js/graph/d3.min.js' %}"></script>
    <script type="text/javascript"  src="{% static 'js/graph/topojson.v1.min.js' %}"></script>
    <link href="{% static 'css/districts.css' %}" media="screen" rel="stylesheet" type="text/css">
  </head>

 <body>

 <h1>Death number by districts</h1>
 <div id="map"></div>
		<div id="tooltip" class="hidden">
	<p><span id="value"></span></p>
</div>
  <script type ="text/javascript">
      //choropleth

var width = 900, height = 500;

var divNode = d3.select('#map').node();

var projection = d3.geo.mercator()
								.scale(5300)
								.translate([width / 2, height / 2])
								.center([83.985593872070313, 28.465876770019531]);

var path = d3.geo.path().projection(projection);

var svg = d3.select("#map").append("svg").attr("width", width).attr("height", height);



d3.json("https://raw.githubusercontent.com/aayushrijal/Nepal-district-topojson/master/nepal-districts.topojson", function(error, ok) {
	var counties = topojson.feature(ok, ok.objects.districts);

    var data = {{ newdata|safe }};

////    d3.csv("https://raw.githubusercontent.com/aayushrijal/Nepal-district-topojson/master/district.csv",function(data){
//        console.log(data)
        var valueById = {};
        var districtById = {};

        data.forEach(function(d){
            valueById[d.location] = d.value;
            districtById[d.location] = d.location;
    	svg.append("g")
            .attr("class", "country")
            .selectAll("path")
            .data(counties.features)
            .enter()
            .append("path")
            .attr("d", path)

            .on("mouseover", function(d) {
            if(valueById[d.properties.DISTRICT]){
                 d3.select(this.parentNode).append("text")


              .attr("x", "300") // margin
              .attr("y", "450") // vertical-align
              .attr("class", "mylabel")//adding a label class
              .text(function() {
                var data = "District:"+districtById[d.properties.DISTRICT]+ "."+"\n"+"Death:"+ "" +valueById[d.properties.DISTRICT];
                return (data);

              }
              );
//                console.log(valueById[d.properties.DISTRICT])
//                console.log(districtById[d.properties.DISTRICT])
	        }})
	        .on("mouseout",function() {
            d3.selectAll(".mylabel").remove()
          })

            .style("fill", function(d) {
                if(valueById[d.properties.DISTRICT]){
                    return "#000";
                    // return color(valueById[d.properties.DISTRICT]);
                }
    		return "#ccc";

    	});



    	//county borders
    	svg.append("path").datum(topojson.mesh(ok, ok.objects.districts, function(a, b) {
    		return a !== b;
    	})).attr("class", "county-border").attr("d", path);

    });

});

  </script>

 </body>
</html>