{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="chart"></div>

<style>

.slice text {
   font-family: Droid Sans;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>



<script>
var w = 400;
var h = 400;
var r = h/2;
var aColor = [
    'rgb(178, 55, 56)',
    'rgb(213, 69, 70)',
    'rgb(230, 125, 126)',
    'rgb(239, 183, 182)'
]

var data = {{ personal_detail|safe }};


var vis = d3.select('#chart').append("svg:svg").data([data]).attr("width", w).attr("height", h).append("svg:g").attr("transform", "translate(" + r + "," + r + ")");

var pie = d3.layout.pie().value(function(d){return d.total;});

// Declare an arc generator function
var arc = d3.svg.arc().outerRadius(r);

// Select paths, use arc generator to draw
var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
arcs.append("svg:path")
    .attr("fill", function(d, i){return aColor[i];})
    .attr("d", function (d) {return arc(d);})
;

// Add the text
arcs.append("svg:text")
    .attr("transform", function(d){
        d.innerRadius = 100; /* Distance of label to the center*/
        d.outerRadius = r;
        return "translate(" + arc.centroid(d) + ")";}
    )
    .attr("text-anchor", "middle")
    .text( function(d, i) {return data[i].total +' '+ '('+data[i].Year+')';})
;

</script>
<table>
  <tr>
    <th>Year</th>
    <th>Total Death</th>
  </tr>
  {% for data in personal_detail %}
  <tr>
    <th>{{ data.Year }}</th>
    <th>{{ data.total }}</th>

  </tr>
  {% endfor %}
</table>
{% endblock %}
