    
{% extends "base.html" %}
{% block title %} News Information Extraciton {% endblock title %}

{% block nav_index_home %} class="nav-link active btn-primary" {% endblock nav_index_home%}

{% block content %}

<div class="selectmap">
    <a href="{% url 'graph:districts' %}"><button>Districts of Nepal</button></a>
    <a href=""><button>Kathmandu Valley</button></a>
</div>

<h2>Accident Death in Kathmandu Valley</h2>

<div id="map">
</div>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5% 5%;
    text-align: center;
    margin-left: 15%;
}
table{
  width: 40%;
}
    .axis path,
    .axis line
    {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }



 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 70%;
        width:70%;
        margin-left: 15%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
.selectmap{
margin-left:15%;
margin-bottom: 3%;
}
h2{
margin-left:15%;
font-size:24px;
margin-bottom: 2%;
}
</style>

<script>

      var map, heatmap;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 27.7172, lng: 85.3240},
          mapTypeId: 'roadmap'
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
      }


      // Heatmap data: 500 Points
       function getPoints() {
            return [
            {% for lat in latitude %}
            new google.maps.LatLng{{ lat }},
            {% endfor %}
            ];

      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0jbM6o1NAMZPhtlexx521CAj5VaQg_I4&libraries=visualization&callback=initMap">
    </script>
{% endblock content %}
