    
{% extends "base.html" %}
{% block title %} News Information Extraciton {% endblock title %}

{% block nav_index_home %} class="nav-link active btn-primary" {% endblock nav_index_home%}

{% block content %}



<div id="map">
</div>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5% 5%;
    text-align: center;
    margin-left: 15%;
}
table{
  width: 40%;
}
    .axis path,
    .axis line
    {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }

.dropbtn {
    background-color: #f1f1f1
    color: white;
    padding: 5% 5%;
    font-size: 16px;
    border: none;
    margin-left: 50%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 50%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 70%;
        width:70%;
        margin-left: 15%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
</style>

<script>

      var map, heatmap;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 27.7172, lng: 85.3240},
          mapTypeId: 'roadmap'
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
      }


      // Heatmap data: 500 Points
       function getPoints() {
            return [
            {% for lat in latitude %}
            new google.maps.LatLng{{ lat }},
            {% endfor %}
            ];

      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0jbM6o1NAMZPhtlexx521CAj5VaQg_I4&libraries=visualization&callback=initMap">
    </script>
{% endblock content %}
