{% extends "base.html" %}
{% block title %} News Information Extraciton {% endblock title %}

{% block nav_index_linegraph %} class="nav-link active btn-primary" {% endblock nav_index_linegraph%}

{% block content %}
<style>
.axis {
	font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #6F257F;
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}

.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}


</style>
<body>
<h2>Comparison of total road accidents {% if location %} in {{ location }} {% endif %}since {{ yearlast }}</h2>
<h2 style="margin-left: 30%;">Choose Districts</h2>
<div class="select" style="margin-left: 30%;">
    <form action="" method="post" name="myform">

        {% csrf_token %}

        <select name="location" id="location_info" onclick="removeValue()">
            {% if location %}
            <option value="{{ location|safe }}" class="valueremove">{{ location|safe }}</option>
            {% endif %}
            <option value="1" onclick="selectLocation()">Select Location</option>
            {% for location in districts %}
            <option value="{{ location }}" onclick="selectLocation()">{{ location }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>
<svg width="1000" height="500" style="margin-left: 15%; margin-top: 2%; font-size: 14px; border: 2px solid #6F257F;"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
var data = {{ linedata|safe }}
console.log(data);
var svg = d3.select("svg"),
    margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 800,
    height = +svg.attr("height") - margin.top - margin.bottom;

var parseTime = d3.timeParse("%Y")
    bisectDate = d3.bisector(function(d) { return d.year; }).left;

var x = d3.scaleTime().range([0, width]);
var y = d3.scaleLinear().range([height, 0]);

var line = d3.line()
    .x(function(d) { return x(d.year); })
    .y(function(d) { return y(d.value); });

var g = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");



    data.forEach(function(d) {
      d.year = parseTime(d.year);
      d.value = +d.value;
    });

    x.domain(d3.extent(data, function(d) { return d.year; }));
    y.domain([d3.min(data, function(d) { return d.value; }) / 1.005, d3.max(data, function(d) { return d.value; }) * 1.005]);

    g.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    g.append("g")
        .attr("class", "axis axis--y")
        .call(d3.axisLeft(y).ticks(6).tickFormat(function(d) { return parseInt(d / 1); }))
      .append("text")
        .attr("class", "axis-title")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", ".71em")
        .style("text-anchor", "end")
        .attr("fill", "#000")
        .text("Number of Accidents");

    g.append("path")
        .datum(data)
        .attr("class", "line")
        .attr("d", line);

    var focus = g.append("g")
        .attr("class", "focus")
        .style("display", "none");

    focus.append("line")
        .attr("class", "x-hover-line hover-line")
        .attr("y1", 0)
        .attr("y2", height);

    focus.append("line")
        .attr("class", "y-hover-line hover-line")
        .attr("x1", width)
        .attr("x2", width);

    focus.append("circle")
        .attr("r", 7.5);

    focus.append("text")
        .attr("x", 15)
      	.attr("dy", "-10");

    svg.append("rect")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        .attr("class", "overlay")
        .attr("width", width)
        .attr("height", height)
        .on("mouseover", function() { focus.style("display", null); })
        .on("mouseout", function() { focus.style("display", "none"); })
        .on("mousemove", mousemove);

    function mousemove() {
      var x0 = x.invert(d3.mouse(this)[0]),
          i = bisectDate(data, x0, 1),
          d0 = data[i - 1],
          d1 = data[i],
          d = x0 - d0.year > d1.year - x0 ? d1 : d0;
      focus.attr("transform", "translate(" + x(d.year) + "," + y(d.value) + ")");
      focus.select("text")
      .text(function() { return d.value; });
      focus.select(".x-hover-line").attr("y2", height - y(d.value));
      focus.select(".y-hover-line").attr("x2", width + width);
    }

</script>
{% endblock content %}
