{% extends "base.html" %}
{% block title %} News Information Extraciton {% endblock title %}

{% block nav_index_visualization %} class="nav-link active btn-primary" {% endblock nav_index_visualization%}

{% block content %}
<style>
.axis {
	font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke-width: 2px;
  shape-rendering: crispEdges;
  color: #000;
}
.texttool {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 10px;
  text-align: center;
}
#bargraph{
margin-left: 15%;
}
.optionsearch{
float:right;
margin-right: 35%;
font-size: 16px;
}
#locationmap{
display: none;
}

</style>
<h2>Accidents in Nepal {{ info }} </h2>

{% if checkparam %}
<h2>No injury or death register for this data search.</h2>
{% endif %}
<div class="select">
    <form action="" method="post" name="myform">

        {% csrf_token %}

        <select name="location" id="location_info" onclick="removeValue()">
            {% if locationvalue %}
            {% if locationvalue != "1" %}
            <option value="{{ locationvalue|safe }}" class="valueremove">{{ locationvalue|safe }}</option>
            {% endif %}
            {% endif %}
            <option value="1" onclick="selectLocation()">Select Location</option>
            {% for location in listoflocation %}
            <option value="{{ location }}" onclick="selectLocation()">{{ location }}</option>
            {% endfor %}
        </select>

        <select name="ktmlocation" id="ktm_location">
            <option value="1">Kathmandu Locations</option>
            {% for location in ktm_location %}
            <option value="{{ location.location }}" onclick="selectLocation()">{{ location.location }}</option>
            {% endfor %}
        </select>

        <select name="ltplocation" id="ltp_location">
            <option value="1">Lalitpur Locations</option>
            {% for location in ltp_location %}
            <option value="{{ location.location }}" onclick="selectLocation()">{{ location.location }}</option>
            {% endfor %}
        </select>

        <select name="bktlocation" id="bkt_location">
            <option value="1"> Bhaktapur Locations</option>
            {% for location in bkt_location %}
            <option value="{{ location.location }}" onclick="selectLocation()">{{ location.location }}</option>
            {% endfor %}
        </select>

        <select name="vehicletype" id="vehicle_info" onclick="removeValue()">
            {% if vehiclevalue %}
            {% if vehiclevalue != "1" %}
            <option value="{{ vehiclevalue|safe }}" class="valueremove">{{ vehiclevalue|safe }}</option>
            {% endif %}
            {% endif %}
            <option value="1" onclick="selectVehicle()">Select Vehicle Type</option>
            {% for vehicle_type in vehicletype %}
            <option value="{{ vehicle_type }}" onclick="selectVehicle()">{{ vehicle_type }}</option>
            {% endfor %}
        </select>

        <select name="vehicle_three" id="vehicle_three">
            <option value="1">Select Vehicle</option>
            {% for vehicle in vehiclethree %}
            <option value="{{ vehicle }}">{{ vehicle }}</option>
            {% endfor %}
        </select>

        <select name="vehicle_two" id="vehicle_two">
            <option value="1">Select Vehicle</option>
            {% for vehicle in vehicletwo %}
            <option value="{{ vehicle }}">{{ vehicle }}</option>
            {% endfor %}
        </select>

        <select name="vehicle_four" id="vehicle_four">
            <option value="1">Select Vehicle</option>
            {% for vehicle in vehiclefour %}
            <option value="{{ vehicle }}">{{ vehicle }}</option>
            {% endfor %}
        </select>

        <select name="year" onclick="removeValue()" id="#year">
            {% if yearvalue %}
            {% if yearvalue != "1" %}
            <option value="{{ yearvalue|safe }}" class="valueremove">{{ yearvalue|safe }}</option>
            {% endif %}
            {% endif %}
            <option value="1">Select Year</option>
            {% for year in yearlist %}
            <option value="{{ year.year }}">{{ year.year }}</option>
            {% endfor %}
        </select>

        <select name="month" onclick="removeValue()" id="#month">
            {% if monthvalue %}
            {% if monthvalue != "1" %}
            <option value="{{ monthvalue|safe }}" class="valueremove">{{ monthvalue|safe }}</option>
            {% endif %}
            {% endif %}
            <option value="1">Select Month</option>
            {% for month in monthlist %}
            <option value="{{ month }}">{{ month }}</option>
            {% endfor %}
        </select>
        <select name="from" onclick="dateList()" id="fromdate">
            {% if datefromvalue %}
            {% if datefromvalue != "1" %}
            <option value="{{ datefromvalue|safe }}" class="valueremove">{{ datefromvalue|safe }}</option>
            {% endif %}
            {% endif %}
            <option value="1">DateFrom</option>

        </select>

        <div class="calender"><input type="date" id="from" name="from"
                                     value='{{ start }}'
                                     min="2010-01-01" max='{{ today|date:"Y-m-d" }}'/></div>

        <select name="to" onclick="dateList()" id="todate">
            {% if datetovalue %}
            {% if datetovalue != "1" %}
            <option value="{{ datetovalue|safe }}" class="valueremove">{{ datetovalue|safe }}</option>
            {% endif %}
            {% endif %}
            <option value="1">DateTo</option>

        </select>
        <div class="calender"><input type="date" id="to" name="to"
                                     value='{{ today|date:"Y-m-d" }}'
                                     min="2010-01-01" max='{{ today|date:"Y-m-d" }}'/></div>


        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>

<div id="bargraph">
    <div class="optionsearch">
        <form action="" method="post" name="myform" id="form">

        {% csrf_token %}

        <select name="options" id="options" onclick="chooseOption()">
            <option value="Number of Accidents" >Number of Accidents</option>
            <option value="Number of Casualties">Number of Casualties</option>
        </select>
</form>
    </div>
</div>

<div id="locationmap"></div>
<svg class="countbar" width="1200" height="600" style="margin-left: 15%;"></svg>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript">

var total = {{ totalno }}

var data = {{ location_data|safe }}

var margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 1000,
    height = 450;

var space = 15;
console.log(space);
var x0 = d3.scale.ordinal()
    .rangeRoundBands([2, width], .1);

var x1 = d3.scale.ordinal();

var y = d3.scale.linear()
    .range([height, 0]);

var color = d3.scale.ordinal()
    .range(["red","blue"]);

var svg = d3.select("#locationmap").append("svg")
    .attr("width", 1200)
    .attr("height", 550)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
var texttool = d3.select("#locationmap").append("div").attr("class", "texttool");
var ageNames = d3.keys(data[0]).filter(function(key) { return key !== "location"; });

data.forEach(function(d) {
    d.ages = ageNames.map(function(name) { return {name: name, value: +d[name]}; });
  });

x0.domain(data.map(function(d) { return d.location; }));
x1.domain(ageNames).rangeRoundBands([0, 30]);
y.domain([0, d3.max(data, function(d) { return d3.max(d.ages, function(d) { return d.value; }); })]);

svg.append("g")
      .attr("class", "axis axis--x")
        .attr("transform", "translate(15," + height + ")")
        .call(d3.axisBottom(x0))
        .selectAll("text")
            .style("text-anchor", "end")
            .attr("dx", "-.8em")
            .attr("dy", "-.55em")
            .attr("transform", "rotate(-60)" );

svg.append("g")
      .attr("class", "axis axis--y")
      .call(d3.axisLeft(y).ticks(5).tickFormat(function(d) { return parseInt(d / 1)  }).tickSizeInner([-width-20]))
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", -30)
        .attr("dy", "0.71em")
        .attr("text-anchor", "end")
        .attr("fill", "#000")
        .text("Total Number of death and injury");

var state = svg.selectAll(".state")
      .data(data)
      .enter().append("g")
      .attr("class", "state")
      .attr("transform", function(d) { return "translate(" + x0(d.location) + ",0)"; });

state.selectAll("rect")
      .data(function(d) { return d.ages; })
      .enter().append("rect")
      .attr("width", 15)
      .attr("x", function(d) { return x1(d.name); })
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return height - y(d.value); })
      .style("fill", function(d) { return color(d.name); })
      .on("mousemove", function(d){
            texttool
              .style("left", d3.event.pageX - 50 + "px")
              .style("top", d3.event.pageY - 70 + "px")
              .style("display", "inline-block")
              .html((d.name) + "<br>" + (d.value));
        })
    		.on("mouseout", function(d){ texttool.style("display", "none");});;

var legend = svg.selectAll(".legend")
      .data(ageNames.slice().reverse())
      .enter().append("g")
      .attr("class", "legend")
      .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

legend.append("rect")
      .attr("x", width + 12)
      .attr("width", 18)
      .attr("height", 18)
      .style("fill", color);

legend.append("text")
      .attr("x", width + 12 )
      .attr("y", 9)
      .attr("dy", ".35em")
      .style("text-anchor", "end")
      .style("font-size", "12px")
      .text(function(d) { return d; });



</script>
<script>
var total = {{ totalno }}
var data = {{ count_data|safe }}
var svg = d3.select(".countbar"),
    margin = {top: 20, right: 20, bottom: 30, left: 50},
    width = 1000,
    height = 415;
var barwidth = (width-50) / total;
console.log(barwidth);

var texttool = d3.select("#bargraph").append("div").attr("class", "texttool");

var x = d3.scale.ordinal()
    .rangeRoundBands([2, width], .1),
    y = d3.scaleLinear().rangeRound([height, 0]);

var colours = d3.scaleOrdinal()
    .range(["#6F257F"]);

var g = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    x.domain(data.map(function(d) { return d.location; }));
    y.domain([0, d3.max(data, function(d) { return d.count; })]);


    g.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(10," + height + ")")
        .call(d3.axisBottom(x))
        .selectAll("text")
            .style("text-anchor", "end")
            .attr("dx", "-.8em")
            .attr("dy", "-.55em")
            .attr("transform", "rotate(-60)" );

    g.append("g")
      	.attr("class", "axis axis--y")
      	.call(d3.axisLeft(y).ticks(5).tickFormat(function(d) { return parseInt(d / 1)  }).tickSizeInner([-width]))
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", -30)
        .attr("dy", "0.71em")
        .attr("text-anchor", "end")
        .attr("fill", "#000")
        .text("Total Number of Accidents");

    g.selectAll(".bar")
      	.data(data)
      .enter().append("rect")
        .attr("x", function(d) { return x(d.location); })
        .attr("y", function(d) { return y(d.count); })
        .attr("width", 20)
        .attr("height", function(d) { return height - y(d.count); })
        .attr("fill", function(d) { return colours(d.location); })
        .on("mousemove", function(d){
            texttool
              .style("left", d3.event.pageX - 50 + "px")
              .style("top", d3.event.pageY - 70 + "px")
              .style("display", "inline-block")
              .html((d.location) + "<br>" + (d.count));
        })
    		.on("mouseout", function(d){ texttool.style("display", "none");});

</script>

<script>
    function selectLocation(){
    var vehicleinfo=document.getElementById('location_info').value;
    if (vehicleinfo == 'Kathmandu'){
    $("#ktm_location").show();
    $("#ltp_location").hide();
     $("#bkt_location").hide();
    }
    else if (vehicleinfo == 'Lalitpur'){
     $("#ltp_location").show();
     $("#ktm_location").hide();
     $("#bkt_location").hide();
     }
     else if (vehicleinfo == 'Bhaktapur'){
     $("#bkt_location").show();
     $("#ktm_location").hide();
     $("#ltp_location").hide();
     }
     else{
     $("#ltp_location").hide();
     $("#ktm_location").hide();
     $("#bkt_location").hide();
     }
    }
    function selectVehicle(){
    var locationinfo=document.getElementById('vehicle_info').value;
    console.log(locationinfo);
        if (locationinfo == 'two wheeler'){
        $("#vehicle_two").show();
        $("#vehicle_three").hide();
        $("#vehicle_four").hide();
        }
        else if (locationinfo == 'three wheeler'){
        $("#vehicle_two").hide();
        $("#vehicle_three").show();
        $("#vehicle_four").hide();
        }
        else if (locationinfo == 'four wheeler'){
        $("#vehicle_two").hide();
        $("#vehicle_three").hide();
        $("#vehicle_four").show();
        }
        else{
        $("#vehicle_two").hide();
        $("#vehicle_three").hide();
        $("#vehicle_four").hide();
        }
    }

    function removeValue(){

    $(".valueremove").hide();
    }

    function dateList(){
    if ($(".calender").is(":visible")){
        $(".calender").hide();
     }
     else{
        $(".calender").show();
     }
    }

    function chooseOption(){
        var searchinfo=document.getElementById('options').value;
        console.log(searchinfo);
        if (searchinfo == "Number of Casualties"){
        $(".countbar").hide();
        $("#locationmap").show();
        }
        if (searchinfo == "Number of Accidents"){
        $(".countbar").show();
        $("#locationmap").hide();
        }
    }



</script>

{% endblock content %}