{% extends "base.html" %}
{% block title %} News Information Extraciton {% endblock title %}

{% block nav_index_searchno %} class="nav-link active btn-primary" {% endblock nav_index_searchno%}

{% block content %}

<div class="search">
    <form class="form-inline" action="" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" name="query" type="text" placeholder="Vehicle No- Ba 1 Kha 1234 " required="required">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>
<h4 id="searchoption"><span>OR</span></h4>
<h4>Select the Vechile Number</h4>
<div class="searchbutton">
        <form action="" method="post" name="myform" id="form">

        {% csrf_token %}

        <select name="location" id="vehicleno" onclick="removeValue()">
            {% if search %}
            {% if location_data %}
            <option value="{{ search }}" id="valueremove" >{{ search }}</option>
            {% endif %}
            {% endif %}
            {% for vehicle in vehicledata %}

            <option value="{{ vehicle }}" onclick="submitSearch()">{{ vehicle }}</option>
            {% endfor %}
        </select>
</form>
    </div>
    {% if nodetail %}<h2 class="head"> Sorry, your search {{ nodetail }} doesnt register any accident.</h2>{% endif %}


{% if vehicledata %}


{% endif %}


{% if location_data %} <h2 class="head"> Result of {{ search }}</h2>

<table>
    <tr>
        <th>Location</th>
        <th>Vehicle no</th>
        <th>Date</th>
        <th>Injury</th>
        <th>Death</th>
    </tr>
    {% for location in location_data %}
    <tr>

        <td>{{ location.location }}</td>
        <td>{{ location.vehicle_involved }}</td>
        <td>{{ location.date }}</td>
        <td>{{ location.injury }}</td>
        <td>{{ location.death }}</td>

    </tr>
    {% endfor %}

</table>
<div id="map">
</div>


<script>

      var map, heatmap;
      var markers = [];

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: { lat: 27.7172, lng: 85.3240},
          mapTypeId: 'roadmap'
        });

        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
         var gradient = [
            'rgba(0, 255, 255, 0)',
            'rgba(0, 0, 255, 1)',
            'rgba(0, 100, 255, 1)',
            'rgba(0, 150, 255, 1)',
            'rgba(0, 200, 255, 1)',
            'rgba(0, 220, 255, 1)',
            'rgba(0, 255, 255, 1)',
            'rgba(255, 255, 210, 1)',
            'rgba(255, 255, 0, 1)',
            'rgba(255, 210, 0, 1)',
            'rgba(255, 210, 0, 1)',
            'rgba(255, 210, 0, 1)',
            'rgba(255, 0, 0, 1)',
            'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
        heatmap.set('radius', heatmap.get('radius') ? null : 15);

        var locations = [
            {% for lat in location_data %}
            ['place: {{ lat.location }} <br>death: {{ lat.death }} <br>injury:{{ lat.injury }}<br> Date: {{ lat.date }}', {{ lat.latitude }}, {{lat.longitude}}],
            {% endfor %}
        ];
         var infowindow = new google.maps.InfoWindow();

        var iconBase = '';
        var marker, i;
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map,
                icon: iconBase + ''
            });

            markers.push(marker);

            google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                };
            })(marker, i));
        }

        google.maps.event.addDomListener(window, 'load', initMap);
      }




      // Heatmap data: 500 Points
       function getPoints() {
            return [
            {% for lat in location_data %}
            new google.maps.LatLng({{ lat.latitude }}, {{lat.longitude}}),
            {% endfor %}
            ];

      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0jbM6o1NAMZPhtlexx521CAj5VaQg_I4&libraries=visualization&callback=initMap">
    </script>
{% endif %}

{% if table_data %} <h2 class="head"> Result of {{ search }}</h2> </div>

<table>
    <tr>
        <th>Location</th>
        <th>Vehicle no</th>
        <th>Date</th>
        <th>Injury</th>
        <th>Death</th>
    </tr>
    {% for location in table_data %}
    <tr>

        <td>{{ location.location }}</td>
        <td>{{ location.vehicle_involved }}</td>
        <td>{{ location.date }}</td>
        <td>{{ location.injury }}</td>
        <td>{{ location.death }}</td>

    </tr>
    {% endfor %}

</table>

{% endif %}

<script>


    function submitSearch(){
        var searchinfo=document.getElementById('vehicleno').value;
        console.log(searchinfo);
        document.getElementById('form').submit();
     }
     function removeValue(){

    $("#valueremove").hide();
    }

</script>


</body>

{% endblock content %}