{% extends "base.html" %}
{% block title %} News Information Extraciton {% endblock title %}

{% block nav_index_about_us %} class="nav-link active btn-primary" {% endblock nav_index_about_us%}

{% block content %}
<style>
    .row{
    margin-top:10px;
    margin-bottom: 10px;
    }
    .team{
    float: left;
    text-align: center;
    }
    .person{
    height: 200px;
    width: 200px;
    background-color: #555;
    border-radius: 50%;
    }
    .git{
    width: 30px;
    height: 30px;
    }
    .gmail{
    width: 30px;
    height: 30px;
    margin-left: 5%;
    }
</style>

<div class="container">
    <div class="col-lg-12 text-center">
      <h1> Our Team </h1>
    </div>
    <div class="row justify-content-md-center">
        <div class="team"><img class="person" src="../static/team/aman.jpg"/>
            <div class="intro"><h3>Dr. Aman Shakya</h3><small>Supervisor</small>
            </div>
        </div>
    </div><br><br>

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 style="font-size:30px;margin:auto;"><strong>Developers</strong></h2>
        </div>
    </div><br>
    <div class="row justify-content-md-center">
        <div class="team col-sm-3"><img class="person" src="../static/team/basanta.jpg"/>
            <div class="intro"><h3>Basanta Chaulagain</h3><small>Backend Developer</small><br>
                <a href="https://github.com/BasantaChaulagain"><img class="git" src="../static/team/github.png"></a>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=071bct510@pcampus.edu.np">
                    <img class="gmail" src="../static/team/gmail.png"></a>
            </div>
        </div>

        <div class="team col-sm-3"><img class="person" src="../static/team/bhuwan.jpg"/>
            <div class="intro"><h3>Bhuwan Bhatt</h3><small>NLP, Data Processing</small><br>
                <a href="https://github.com/bhattbhuwan13"><img class="git" src="../static/team/github.png"></a>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=071bct511@pcampus.edu.np"><img class="gmail" src="../static/team/gmail.png"></a>
            </div>
        </div>

        <div class="team col-sm-3">
            <img class="person" src="../static/team/bishal.jpg"/>
            <div class="intro"><h3>Bishal Chaulagain</h3><small>Frontend Developer</small><br>
                <a href="#"><img class="git" src="../static/team/github.png"></a>
                <a href="#"><img class="gmail" src="../static/team/gmail.png"></a>
            </div>
        </div>

        <div class="team col-sm-3">
            <img class="person" src="../static/team/dip.JPG"/>
            <div class="intro"><h3>Dipkiran Pradhan</h3><small>Data Visualization, Backend Deveo</small><br>
                <a href="https://github.com/Dipkiran"><img class="git" src="../static/team/github.png"></a>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=071bct516dip@pcampus.edu.np">
                    <img class="gmail" src="../static/team/gmail.png"></a>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 style="font-size:25px;margin:auto;"><strong>Credits</strong></h2>
        </div>
    </div><br>
    <div class="row justify-content-md-center">
        <div class="team col-sm-3"><img class="person" src="../static/team/amit.jpg"/>
            <div class="intro"><h3> Amit Bhandari</h3><br>
            </div>
        </div>
        <div class="team col-sm-3"><img class="person" src="../static/team/basantadai.jpg"/>
            <div class="intro"><h3>Basanta Maharjan</h3><br>
            </div>
        </div>
        <div class="team col-sm-3"><img class="person" src="../static/team/kritish.jpg"/>
            <div class="intro"><h3>Kritish Pahi</h3><br>
            </div>
        </div>


    </div>
</div>
{% endblock content %}
