{% extends "base.html" %}
{% block title %} News Information Extraciton {% endblock title %}

{% block nav_index_home %} class="nav-link active btn-primary" {% endblock nav_index_home%}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-6">
        <div class="pre-scrollable">
        {% for article in news %}
          <ul>
            <li class='listed' style='list-style:none;'>
              <p id={{ article.id }} class="head"> <a href="#" style="color:#4b0082">{{article.header}}:</a><br>
              <a>{{article.date}}</a>
                  <div class="source">Source:<p>{{ article.source }}</p></div>
            </p>
            </li>
          </ul>
        {% endfor %}
        </div>

        {% if news.has_other_pages %}
        <ul class="pagination">
            {% if news.has_previous %}
              <li><a href="?page={{ news.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in news.paginator.page_range %}
              {% if news.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if news.has_next %}
              <li><a href="?page={{ news.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div>

    <div class="col-md-6">
      <p id='summary'> Click on one of the news </p>
    </div>
    </div>
</div>
{% endblock content %}


{% block javascript %}
<style>
.listed{
  background-color: #a2cf6e;
  color:#000;
  padding: 5px;
  border-radius: 15px;
  margin: 5px;
  float: left;
  width: 90%;
}

div.center {text-align: center;}

.pre-scrollable {
    max-height: 700px;
    overflow-y: scroll;
}
.source{

float:left;
font-size:12px;
}
.source p{
border: 2px solid black;
border-radius:20px;
padding : 3% 3%;
}
</style>

<script>
$(document).ready(function(){
console.log("hello");
  function present_summary(){
    var accidentNews ={};
    {% for article in news %}
    {% if article.id != None %}
    accidentNews[{{article.id}}] = {
        location : "{{ article.location }}",
        death : "{{ article.death }}",
        death_no : "{{ article.death_no }}",
        injury:"{{ article.injury}}",
        injury_no:"{{ article.injury_no}}",
        vehicleone:"{{ article.vehicleone }}",
        vehicletwo:"{{ article.vehicletwo }}",
        vehicle_no:"{{ article.vehicle_no }}",
        vehicle_type:"{{ article.vehicle_type }}",
        date:"{{ article.date }}",
        day:"{{ article.day }}",
        body:"{{article.body}}",
    };

    {% else %}

    accidentNews[0] = {};
    {% endif %}
    {% endfor %}

    $('.head').each(function(){
      $(this).click(function(){
        var news = accidentNews[this.id];
        $('#summary').replaceWith("<div id='summary'><h2> Extracted items </h2> <p><strong> Death: </strong>" + news.death +  "</p>        <p><strong> Death Number: </strong>" + news.death_no +  "</p>        <p><strong> Injury: </strong>" + news.injury +"</p>        <p><strong> Injury Number: </strong>" + news.injury_no +"</p>        <p><strong> Vehicles: </strong>" + news.vehicleone + ", " + news.vehicletwo +"</p> <p><strong> Vehicle Numbers: </strong>" + news.vehicle_no +"</p>    <p><strong> Vehicle Type: </strong>" + news.vehicle_type +"</p>    <p><strong>Location: </strong>" + news.location +"</p>        <p><strong> Date: </strong>"+ news.date +"</p>        <p><strong> Day: </strong>"+ news.day +"</p>        <h4>Full news</h4>"+ news.body+ "</div>");
  });

  $('#no').click(function () {
    $('#summary').replaceWith("<h2 id='summary'> No Summary Information</h2>");
  })
    });
  }
  present_summary();
});

</script>

{% endblock javascript %}
