.main-container{
  padding:10px;
  margin: auto;
  width: 85%;
}
.container{
  padding:10px;
  margin: auto;
}
.page-header{
  background: url('/static/img/main2.png');
  height: 300px;
  width: 100%;
  margin: 0.  1px;
}
.page-header h1{
  color: #fff;}

.jumbotron { min-height: 600px; }

.btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #FFFF00;
}

.form-container{
  width: 50%;
}
input{
    width:50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=text]:focus {
    border: 3px solid #555;
}
table td{
  font-weight: bold;
}
/*.nav > li > a {
    position: relative;
    display: block;
    padding: 1px 1px;
}*/
#graph-filter {

    width: auto;
    padding: 5px 5px;

}

.footer {
    clear: both;
    margin: 0px 0px 0px 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top:10px;
    width: 100%;
    background-color: #D3D3D3;
    color: blue;
    text-align: center;
}

html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}

/* body {
    font-family: sans-serif;
    padding:10px;

    padding-bottom:60px;
} */
#map {width: 100%; height: 350px; margin: 10px;}
#waypoints {overflow: auto; width: 500px; height: 300px}
.linkOFF {color: darkblue}
.linkON {color: white; background-color: darkblue}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
